*{
  font-family: 'Poppins', sans-serif;
}

.card{
  border-radius: 24px;
  background-color: #ffff;
  border: #333;
}

.order{
  height: 50%;
  position: sticky;
  top: 0;
}

.card-image{
  position: relative;
  height: 75%;
  width: auto;
  border-radius: 50%;
}

.card-image .card-img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 32px;
}

.card-content .card-add{
  height: 100%;
  width: auto;
}

.image-content{
  padding: 10px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-content{
  padding: 5px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name{
  font-family: sans-serif;
  font-size: 1vw;
  font-weight: bold;
  line-height: 24px;
  color: #333;
}

.description{
  font-family: sans-serif;
  font-size: 1vw;
  font-weight: 300;
  line-height: 16px;
  color: rgb(87, 87, 87);
}

.button-add{
  border-radius: 8px;
  font-size: 1vw;
  padding: 5% 10%;
  border: 0;
}

.pagination{
  text-align: center;
  margin: 30px 30px 60px;
  user-select: none;
}

.pagination li{
  display: inline-block;
  margin: 5px;
}

.pagination li a{
  border-radius: 50%;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 45px;
}

.previous-page, .next-page{
  width: 80px;
  border-radius: 45px;
  cursor: pointer;
}


.current-page, .dots{
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.table-responsive{
  border-radius: 16px;
}

#content {
  min-height: 80vh;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 10;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  font-family: 'Varela Round', sans-serif;
}
.modal-confirm {
  color: #434e65;
  width: 525px;
}
.modal-confirm .modal-content {
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}
.modal-confirm .modal-header {
  background: #47c9a2;
  border-bottom: none;
  position: relative;
  text-align: center;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
  padding: 35px;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 36px;
  margin: 10px 0;
}
.modal-confirm .form-control,
.modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px;
}
.modal-confirm .close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
  text-shadow: none;
  opacity: 0.5;
}
.modal-confirm .close:hover {
  opacity: 0.8;
}
.modal-confirm .icon-box {
  color: #fff;
  width: 95px;
  height: 95px;
  display: inline-block;
  border-radius: 50%;
  z-index: 9;
  border: 5px solid #fff;
  padding: 15px;
  text-align: center;
}
.modal-confirm .icon-box i {
  font-size: 64px;
  margin: -4px 0 0 -4px;
}
.modal-confirm.modal-dialog {
  margin-top: 80px;
}
.modal-confirm .btn,
.modal-confirm .btn:active {
  color: #fff;
  border-radius: 4px;
  background: #eeb711 !important;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border-radius: 30px;
  margin-top: 10px;
  padding: 6px 20px;
  border: none;
}
.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
  background: #eda645 !important;
  outline: none;
}
.modal-confirm .btn span {
  margin: 1px 3px 0;
  float: left;
}
.modal-confirm .btn i {
  margin-left: 1px;
  font-size: 20px;
  float: right;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}

/* color*/
.bg-primary{
    background-color: #D6E4E5 !important;
  }

/* rounded image */
@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: 24px; }
  }
  

@media (min-width: 1200px) {
  .responsive-font-title {
    font-size: 32px;
  }

  .card-image .menu-img{
    height: 150px;
    width: 150px;
    border-radius: 25%;
    object-fit: cover;
  }
}

@media (max-width: 1199.98px) {
  .responsive-font-title {
    font-size: 24px;
  }

  .card-image .menu-img{
    height: 60px;
    width: 60px;
    border-radius: 25%;
    object-fit: cover;
  }
}