<div class="modal fade" id="hapusData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="overlay rounded align-items-center justify-content-center d-none" id="dataLoader">
			<span class="loader"></span>
		</div>
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Hapus Data</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-warning">
					<p>Apakah yakin hapus data?</p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
				<button class="btn_hapus btn btn-danger" id="btn_hapus">Hapus</button>
			</div>
		</div>
	</div>
</div> 