{% extends "/layout/loginMaster.twig" %}
{% set title = "Sign Up" %}

{% block css %}
    <link rel="stylesheet" href="/css/register.css">
{% endblock %}

{% block content %}

	<section class="login d-flex">
		<div class="login-left w-50 h-100">
			<div class="row justify-content-center align-items-center h-100">
				<div class="header">
					<h2>Welcome Come</h2>
				</div>

				<div class="login-form">
					<form action="/signup" method="POST">
						<label for="first_name">First Name</label>
						<input type="first_name" class="form-control" name="first_name" id="first_name" placeholder="Enter your First Name">

						<label for="last_name">Last Name</label>
						<input type="last_name" class="form-control" name="last_name" id="last_name" placeholder="Enter your Last Name">

						<label for="username">Username</label>
						<input type="username" class="form-control" name="username" id="username" placeholder="Enter your Username">

						<label for="gender">Gender</label>
						<input type="gender" class="form-control" name="gender" id="gender" placeholder="Male / Female">

						<label for="password">Password</label>
						<input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password">

						<a href="#" class="text-decoration-none">Forgot Password</a>

						<button class="signin" type="submit">Sign In</button>
						<hr>
						<button class="signup" type="submit">Sign Up</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="login-right bg-primary w-50 h-100" style="background-image: url('/img/bgkopi.JPG'); background-size: cover;"></div>
</section>

{% endblock %}
{% block js %}

<script src="/js/home.js"></script>

{% endblock %}
